[submodule "yolov5"]
	path = yolov5
	url = https://github.com/AngeloMono/yolov5.git
[submodule "sort"]
	path = sort
	url = https://github.com/AngeloMono/sort.git
[submodule "yolact"]
	path = yolact
	url = https://github.com/AngeloMono/yolact.git
